<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading"></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
       <p>{{- site.description | escape -}}</p>
      </div>

      <div class="footer-col footer-col-2">
        <ul style="list-style-type:none">
          <li>I am Social </li>
          <li><a href="https://www.twitter.com/carolinekiddy" target="_blank">Twitter</a></li>
          <!-- Create a new non personal IG account -->
           <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
        </ul>      
      </div>

      <div class="footer-col footer-col-3">
        <p>Build | Impact | Change</p>
      </div>
    </div>

  </div>

</footer>
