<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading"></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
       <p>Caroline Muthambiri</p>
      </div>

      <div class="footer-col footer-col-2">
        <ul style="list-style-type:none">
          <li>I am Social </li>
        <li><a href="https://twitter.com/carolinekiddy" target="_blank"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg></a></li>
                  <li><a href="https://ch.linkedin.com/in/caroline-muthambiri" target="_blank"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg></a></li>
        </ul>      
      </div>

      <div class="footer-col footer-col-3">
        <div>
         &copy;
         <span id="copyright">
        <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
        </span>
        </div>
      </div>
    </div>

  </div>

</footer>
